

    body {
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;  /* The space between lines in text. This somehow also removed the little gap between the each nav item and the background */
        margin: 0;         /* To remove the space between the container and the window. */
    }
    .nav-bar a, .shopping-cart-heading {
        font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    }

    /* The grid-template-area gives you a visual representation of the web-page layout, and we then put our content
       into those different grid cells by assigning a piece of content a grid-area name we just defined */
    .grid-container {
        display: grid;
        grid-template-areas: ' Nav   Nav '
                             'Fig-1 Fig-2'
                             'Fig-3 Fig-4'
                             'Fig-5 Fig-6'
                             ' Sec   Sec '
                            'Footer Footer';
        grid-gap: 30px 10px;
        /*margin: 0 150px;*/
    }
    .grid-item {
        /*border: 1px solid white;*/
    }

    .nav-bar {
        grid-area: Nav;
        /* Make the nav bar stay at the top when scrolling */
        position: fixed;
        width: 100%;
    }
    .nav-bar ul {
        list-style-type: none;    /* This removes the bullet points */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: pink;
        border-radius: 0 0 8px 8px;
    }


    /* The nested anchor tags cannot have float left */
    .nav-bar li {
        float: left;
    }
    .nav-bar a {
        display: block;
        color: black;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 15px;
    }
    /* Change the background-color of the links and dropdown button on hover, even hovering on dropdown links */
    .nav-bar a:hover, .dropdown-link:hover .dropbtn {
        background-color: #454242;
        color: pink;
        text-decoration: none;
    }
    /* The 4 links as a whole inside the dropdown-link. Hidden at first. */
    .dropdown-links {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 5px 5px 20px 0 lightpink;
        /* This makes the dropdown links stay on top of all other elements */
        z-index: 1;
    }
    /* The links inside the dropdown */
    .dropdown-links a {
        display: block;
        color: black;
        background-color: #f9f9f9;
        padding: 12px 16px;
        text-decoration: none;
        text-align: left;
    }
    /* Display the dropdown links when hover over dropdown link */
    .dropdown-link:hover .dropdown-links {
        display: block;
    }
    /* Change the background-color of dropdown links on hover */
    .dropdown-links a:hover {
        background-color: #f1f1f1;
    }


    .nav-bar .hamburger a {
        display: none;
    }

    @media screen and (max-width: 600px) {
        /* This selects all the anchor elements in the nav bar except for the first one */
        .nav-bar a {
            display: none;
        }
        .nav-bar .hamburger {
            float: right;
        }
        .nav-bar .hamburger a {
            display: block;
        }
    }

    /* When the hamburger is clicked */
    @media screen and (max-width: 600px) {
        /*.nav-bar.responsive {*/
        /*    position: relative;*/
        /*}*/
        .dropdown-links {
            position: relative;
        }
        .nav-bar.responsive .hamburger a {
            position: absolute;
            right: 0;
            top: 0;
        }
        .nav-bar.responsive li {
            float: none;
        }
        .nav-bar.responsive a {
            display: block;
            text-align: left;
        }
    }




    img {
        /* This makes all the images responsive */
        /* If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size */
        max-width: 100%;
        height: auto;
        /* To center an image in a container */
        /*display: block;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
    .album {
        /* This one line will center every single element inside the grid-cell */
        text-align: center;
        /*justify-self: center;*/   /* This will only center the grid-cell itself, not the elements inside it */

    }
    .album p {
        margin-bottom: 5px;
        font-weight: bold;
        /*text-align: center;*/
    }
    .album .album-date {
        margin-left: 10px;
        font-size: small;
        color: lightgrey;
    }
    .album .price-container {
        /*text-align: center;*/
        margin-top: 8px;
    }
    .album .shop-item-price {
        margin-right: 30px;
        color: grey;
    }
    .album .add-to-cart-btn, .purchase-btn {
        background-color: deepskyblue;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        padding: 4px;   /* This controls the size of the button */
    }
    .album .add-to-cart-btn:hover, .purchase-btn:hover {
        background-color: lightskyblue;
    }
    /* Create an animated "pressed" effect on click */
    .album .add-to-cart-btn:active, .purchase-btn:active {
        background-color: lightgrey;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


    /* To create more space between the nav-bar and albums */
    .album-1, .album-2 {
        margin-top: 100px;
    }
    /* To bring the two columns of albums closer to each other */
    .album-1, .album-3, .album-5 {
        margin-left: 60px;
        margin-right: 0;
    }
    .album-2, .album-4, .album-6 {
        margin-left: 0;
        margin-right: 60px;
    }

    /* Setting up the grid areas */
    .album-1 {
        grid-area: Fig-1;
    }
    .album-2 {
        grid-area: Fig-2;
    }
    .album-3 {
        grid-area: Fig-3;
    }
    .album-4 {
        grid-area: Fig-4;
    }
    .album-5 {
        grid-area: Fig-5;
    }
    .album-6 {
        grid-area: Fig-6;
    }








    .shopping-cart {
        grid-area: Sec;
        margin-top: 100px;
    }
    .shopping-cart-heading {
        font-size: 35px;
        text-shadow: 4px 4px 4px pink;
        text-align: center;  /* To center a heading in a container is straightforward */
    }
    .shopping-cart table {
        /* To center the table in a container, and stretch it out a bit */
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        /* This controls the spacing between the table cells */
        /* The first value sets the horizontal spacing and the second value sets the vertical spacing */
        border-spacing: 0 0;  /* border-collapse: collapse;  will have the same effect */

    }
    .shopping-cart table th {
        background-color: pink;
        color: black;
    }
    .shopping-cart table td {
        padding: 10px;
        text-align: center;
    }
    /* This last-child selector will select the last table row, and apply styling to all its table data */
    /* To add a border-bottom to only the last row */
    .shopping-cart table tr:last-child td {
        border-bottom: 2px solid pink;
    }

    .shopping-cart .cart-item-name {
        margin-top: 0;
    }

    .shopping-cart .cart-quantity-input {
        width: 40px;
        height: 20px;
        margin: 0 15px;   /* To create space between the input field and the remove btn, but also make sure they align with with each other on a smaller screen */
        text-align: center;
    }
    .shopping-cart table button {
        background-color: darkorange;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        padding: 4px;   /* This controls the size of the button */
        margin: 0 15px;  /* To create space between the input field and the remove btn, but also make sure they align with with each other on a smaller screen */
    }
    .shopping-cart table button:hover {
        background-color: #f6b63f;
    }
    /* Create an animated "pressed" effect on click */
    .shopping-cart table button:active {
        background-color: lightgrey;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


    .shopping-cart .total-container {
        text-align: center;
    }
    .shopping-cart .purchase-btn {
        font-size: 20px;
        padding: 10px;
    }
    .shopping-cart .total-container p {
        font-weight: bold;
        font-size: large;
    }
    .shopping-cart .total-price {
        font-weight: lighter;
        font-size: medium;
        color: lightgray;
    }


    .footer {
        grid-area: Footer;
        text-align: center;
    }
    .footer-hr {
        margin-top: 100px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 10px 1px lightpink;
    }
    .icons {
        padding: 20px;
    }


    /* Responsive layout - for mobile phones */
    @media (max-width: 600px) {
        .grid-container {
            grid-template-areas:  'Nav'
                                 'Fig-1'
                                 'Fig-2'
                                 'Fig-3'
                                 'Fig-4'
                                 'Fig-5'
                                 'Fig-6'
                                  'Sec'
                                 'Footer';
        }
        /* To make sure the figures align with each other on a smaller screen */
        .album-1, .album-3, .album-5 {
            margin-left: 0;
        }
        .album-2, .album-4, .album-6 {
            margin-right: 0;
        }
        /* To remove the extra spacing added to be further away from the nav-bar, since it's under fig-1 now */
        .album-2 {
            margin-top: 16px;
        }
    }