

    body {
        background-color: black;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;  /* The space between lines in text. This somehow also removed the little gap between the each nav item and the background */
        margin: 0;         /* To remove the space between the container and the window. */
    }
    .nav-bar a, .main .heading, .footer .heading {
        font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    }

    /* The grid-template-area gives you a visual representation of the web-page layout, and we then put our content
       into those different grid cells by assigning a piece of content a grid-area name we just defined */
    .grid-container {
        display: grid;
        grid-template-areas: 'Nav'
                            'Fig-1'
                             'Main'
                            'Fig-2'
                            'Footer';
        /*margin: 0 150px;*/
    }
    .grid-item {
        /*border: 2px solid white;   !* Should be removed. For design purpose. *!*/
    }



    .nav-bar {
        grid-area: Nav;
        /* Make the nav bar stay at the top when scrolling */
        position: fixed;
        width: 100%;
    }
    .nav-bar ul {
        list-style-type: none;    /* This removes the bullet points */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: pink;
        border-radius: 0 0 8px 8px;
    }


    /* The nested anchor tags cannot have float left */
    .nav-bar li {
        float: left;
    }
    .nav-bar a {
        display: block;
        color: black;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 15px;
    }
    /* Change the background-color of the links and dropdown button on hover, even hovering on dropdown links */
    .nav-bar a:hover, .dropdown-link:hover .dropbtn {
        background-color: #454242;
        color: pink;
        text-decoration: none;
    }
    /* The 4 links as a whole inside the dropdown-link. Hidden at first. */
    .dropdown-links {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 5px 5px 20px 0 lightpink;
        /* This makes the dropdown links stay on top of all other elements */
        z-index: 1;
    }
    /* The links inside the dropdown */
    .dropdown-links a {
        display: block;
        color: black;
        background-color: #f9f9f9;
        padding: 12px 16px;
        text-decoration: none;
        text-align: left;
    }
    /* Display the dropdown links when hover over dropdown link */
    .dropdown-link:hover .dropdown-links {
        display: block;
    }
    /* Change the background-color of dropdown links on hover */
    .dropdown-links a:hover {
        background-color: #f1f1f1;
    }


    .nav-bar .hamburger a {
        display: none;
    }

    @media screen and (max-width: 600px) {
        /* This selects all the anchor elements in the nav bar except for the first one */
        .nav-bar a {
            display: none;
        }
        .nav-bar .home-link {
            display: block;
        }
        .nav-bar .hamburger {
            float: right;
        }
        .nav-bar .hamburger a {
            display: block;
        }
    }

    /* When the hamburger is clicked */
    @media screen and (max-width: 600px) {
        /*.nav-bar.responsive {*/
        /*    position: relative;*/
        /*}*/
        .dropdown-links {
            position: relative;
        }
        .nav-bar.responsive .hamburger a {
            position: absolute;
            right: 0;
            top: 0;
        }
        .nav-bar.responsive li {
            float: none;
        }
        .nav-bar.responsive a {
            display: block;
            text-align: left;
        }
    }



    .fig-1 {
        grid-area: Fig-1;
        margin-top: 100px;  /* To avoid overlapping with the nav-bar */
    }
    .fig-1 img {
        /* This makes all the images responsive */
        /* If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size */
        max-width: 100%;
        height: auto;
        /* To center an image in a container */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



    .main {
        grid-area: Main;
        background-image: linear-gradient(black, rgba(196, 18, 114, 0.31), rgba(255, 20, 147, 0.31), black);
        margin-top: 30px;
    }
    .main .heading {
        margin-left: 150px;
        margin-bottom: 0;
    }
    .main table {
        /* To center the table in a container, and stretch it out a bit */
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 40px;

    }
    .main table td {
        border-bottom: 2px solid pink;   /* Create bottom borders only */
        padding: 10px;        /* This increase the size of each table cell */
    }
    /* This last-child selector will select the last table row, and apply styling to all its table data */
    .main table tr:last-child td {
        border-bottom: none;
    }
    .schedule button {
        background-color: black;
        color: pink;
        border: 3px solid pink;
        font-size: 10px;
        font-weight: bold;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
        transition-duration: 0.4s;
    }
    .schedule button:hover {
        background-color: pink;
        color: black;
    }



    .fig-2 {
        grid-area: Fig-2;
        /* This centers the video inside the container */
        text-align: center;
        margin-top: 30px;
        margin-bottom: 200px;
    }




    .footer {
        grid-area: Footer;
        text-align: center;
    }
    .footer-hr {
        margin-top: 100px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 10px 1px lightpink;
    }
    .icons {
        padding: 20px;
    }