
    body {
        background-color: black;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;  /* The space between lines in text */
        margin: 0;         /* To remove the space between the container and the window. */
    }
    .nav-bar a {
        font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    }

    .grid-container {
        grid-template-areas:   'Nav'
                              'Fig-1'
                              'Fig-2'
                              'Fig-3'
                              'Fig-4'
                              'Article'
                              'Footer';
        margin: 0 150px;
    }

    .nav-bar {
        grid-area: Nav;
    }
    .nav-bar ul {
        list-style-type: none;    /* This removes the bullet points */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: pink;
    }
    .nav-bar li {
        float: left;
    }
    .nav-bar a {
        display: block;
        color: black;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 15px;
    }
    /* Change the background-color of the links and dropdown button on hover, even hovering on dropdown items */
    .nav-bar a:hover, .dropdown:hover .dropbtn {
        background-color: #454242;
        color: pink;
        text-decoration: none;
    }
    /* The 4 links as a whole inside the dropdown. Hidden at first. */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 5px 5px 20px 0 lightpink;
        /* This makes the dropdown content stay on top of all other elements */
        z-index: 1;
    }
    /* The links inside the dropdown */
    .dropdown-content a {
        color: black;
        background-color: #f9f9f9;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    /* Display the dropdown-content when hover over dropdown link */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change the background-color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }


    img {
        /* This makes all the images responsive */
        width: 100%;
        height: auto;
    }


    .new-album-teaser {
        grid-area: Fig-1;
        margin: 0;   /* To make the image take up the whole container */
    }


    .new-album-postor {
        grid-area: Fig-2;
        margin: 0;   /* To make the image take up the whole container */
    }

    .how-you-like-that-mv {
        grid-area: Fig-3;
        text-align: center;
    }
    /* This canters the video too */
    /*.how-you-like-that-mv iframe {*/
    /*    !*display: block;*!*/
    /*    !*margin: 0 auto;*!*/
    /*}*/

    .new-album-cover {
        grid-area: Fig-4;
        text-align: center;
        margin-top: 50px;
    }
    .new-album-cover img {
        width: 300px;
        height: 300px;
    }

    .how-you-like-that-description {
        grid-area: Article;
        margin-top: 50px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .how-you-like-that-description p {
        text-align: center;
    }



    .footer {
        grid-area: Footer;
        text-align: center;
    }
    .footer-hr {
        margin-top: 200px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 10px 1px lightpink;
    }
    .icons {
        padding: 20px;
    }



    /* Responsive layout - for mobile phones */
    @media (max-width: 880px) {

        /* This media query has to be placed after the CSS property it's trying to modify */
        /* Responsive nav-bar; This makes the nav items stack on top of each other on a smaller screen */
        .nav-bar li {
            float: none;
        }
        /* Adjust the width of the dropdown items */
        .nav-bar .dropdown-content {
            width: 317px;
        }
    }



