
    body {
        background-color: black;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;  /* The space between lines in text */
        margin: 0;         /* To remove the space between the container and the window. */
    }
    .nav-bar a, .main .heading, .footer .heading {
        font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    }


    .grid-container {
        display: grid;
        grid-template-areas: 'nav'
                            'fig-1'
                             'main'
                            'fig-2'
                            'footer';
        margin: 0 150px;
    }
    .grid-item {
        /*border: 2px solid white;   !* Should be removed. For design purpose. *!*/
    }



    .nav-bar {
        grid-area: nav;
    }
    .nav-bar ul {
        list-style-type: none;    /* This removes the bullet points */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: pink;
    }
    .nav-bar li {
        float: left;
    }
    .nav-bar a {
        display: block;
        color: black;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 15px;
    }
    /* Change the background-color of the links and dropdown button on hover, even hovering on dropdown items */
    .nav-bar a:hover, .dropdown:hover .dropbtn {
        background-color: #454242;
        color: pink;
        text-decoration: none;
    }
    /* The 4 links as a whole inside the dropdown. Hidden at first. */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 5px 5px 20px 0 lightpink;
        /* This makes the dropdown content stay on top of all other elements */
        z-index: 1;
    }
    /* The links inside the dropdown */
    .dropdown-content a {
        color: black;
        background-color: #f9f9f9;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    /* Display the dropdown-content when hover over dropdown link */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change the background-color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }



    .fig-1 {
        grid-area: fig-1;
    }
    .fig-1 img {
        /* This makes all the images responsive */
        /* If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size */
        max-width: 100%;
        height: auto;
        /* To center an image in a container */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



    .main {
        grid-area: main;
        background-image: linear-gradient(black, rgba(196, 18, 114, 0.31), rgba(255, 20, 147, 0.31), black);
        margin-top: 30px;
    }
    .main .heading {
        margin-left: 150px;
        margin-bottom: 0;
    }
    .main table {
        /* To center the table in a container, and stretch it out a bit */
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 40px;

    }
    .main table td {
        border-bottom: 2px solid pink;   /* Create bottom borders only */
        padding: 10px;        /* This increase the size of each table cell */
    }
    /* This last-child selector will select the last table row, and apply styling to all its table data */
    .main table tr:last-child td {
        border-bottom: none;
    }
    .schedule button {
        background-color: black;
        color: pink;
        border: 3px solid pink;
        font-size: 10px;
        font-weight: bold;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
        transition-duration: 0.4s;
    }
    .schedule button:hover {
        background-color: pink;
        color: black;
    }



    .fig-2 {
        grid-area: fig-2;
        /* This centers the whole container, a workaround to center the video */
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 200px;
    }



    .footer {
        grid-area: footer;
        text-align: center;
    }
    .footer-hr {
        margin-top: 100px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 10px 1px lightpink;
    }
    .icons {
        padding: 20px;
    }



    /* Responsive layout - for mobile phones */
    @media (max-width: 880px) {

        /* This media query has to be placed after the CSS property it's trying to modify */
        /* Responsive nav-bar; This makes the nav items stack on top of each other on a smaller screen */
        .nav-bar li {
            float: none;
        }
        /* Adjust the width of the dropdown items */
        .nav-bar .dropdown-content {
            width: 317px;
        }
    }