
<!DOCTYPE html>
<html lang="en">


<head>
    <title> BlackPink | Album </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Linking our CSS file -->
    <link href="../static/album.css" rel="stylesheet">

    <!-- Linking some icons from the internet -->
    <script src="https://kit.fontawesome.com/c5edb75a02.js" crossorigin="anonymous"></script>
    <!-- Linking our JS file -->
    <!-- The async attribute tells our browser to keep loading the body HTML while loading the JS file at the smae time -->
    <script src="../album.js" async></script>

</head>



<body>
    <div class="grid-container">

        <nav class="grid-item nav-bar">
            <ul>
                <li> <a href="home.html"> Home </a> </li>
                <li> <a href="about.html"> About </a> </li>
                <li> <a href="concert.html"> Concert </a> </li>
                <li> <a href="album.html"> Album </a> </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"> Members &#9662; </a>
                    <div class="dropdown-content">
                        <a href="https://www.instagram.com/jennierubyjane/" target="_blank"> Jennie </a>
                        <a href="#"> Lisa </a>
                        <a href="#"> Jisoo </a>
                        <a href="#"> Rose </a>
                    </div>
                </li>
            </ul>
        </nav>

        <figure class="grid-item album album-1">
                <p><span class="shop-item-name">How You Like That</span><span class="album-date">2020.06.26</span></p>
                <img src="../static/images/How_you_like_that.png" alt="How You Like That album" width="250" height="250">
                <div class="price-container">
                    <span class="shop-item-price"> $999 </span>
                    <button class="add-to-cart-btn"> Add To Cart </button>
                </div>
        </figure>

        <figure class="grid-item album album-2">
            <p><span class="shop-item-name">Kill This Love</span><span class="album-date">2019.04.05</span></p>
            <img src="../static/images/Kill_this_love.jpg" alt="Kill This Love album" width="250" height="250">
            <div class="price-container">
                <span class="shop-item-price"> $999 </span>
                <button class="add-to-cart-btn"> Add To Cart </button>
            </div>
        </figure>

        <figure class="grid-item album album-3">
            <p><span class="shop-item-name">Square Up</span><span class="album-date">2018.06.15</span></p>
            <img src="../static/images/Square_up.gif" alt="Square Up album" width="250" height="250">
            <div class="price-container">
                <span class="shop-item-price"> $999 </span>
                <button class="add-to-cart-btn"> Add To Cart </button>
            </div>
        </figure>

        <figure class="grid-item album album-4">
            <p><span class="shop-item-name">As If It's Your Last</span><span class="album-date">2017.06.22</span></p>
            <img src="../static/images/As_if_its_your_last.gif" alt="How you like that album" width="250" height="250">
            <div class="price-container">
                <span class="shop-item-price"> $999 </span>
                <button class="add-to-cart-btn"> Add To Cart </button>
            </div>
        </figure>

        <figure class="grid-item album album-5">
            <p><span class="shop-item-name">Square Two</span><span class="album-date">2016.11.01</span></p>
            <img src="../static/images/Square_two.png" alt="Square Two album" width="250" height="250">
            <div class="price-container">
                <span class="shop-item-price"> $999 </span>
                <button class="add-to-cart-btn"> Add To Cart </button>
            </div>
        </figure>

        <figure class="grid-item album album-6">
            <p><span class="shop-item-name">Square One</span><span class="album-date">2016.08.08</span></p>
            <img src="../static/images/Square_one.jpg" alt="Square One album" width="250" height="250">
            <div class="price-container">
                <span class="shop-item-price"> $999 </span>
                <button class="add-to-cart-btn"> Add To Cart </button>
            </div>
        </figure>


        <section class="grid-item shopping-cart">
            <h1 class="shopping-cart-heading"> CART </h1>
            <table class="cart-items">
                <tr>
                    <th>ITEM</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                </tr>
<!--                <tr class="cart-row">-->
<!--                    <td><img src="images/How_you_like_that.png" width="50" height="50" alt="How you like that album"><span class="cart-item-name">How You Like That</span></td>-->
<!--                    <td class="cart-item-price">$999</td>-->
<!--                    <td><input class="cart-quantity-input" type="number" value="1"><button class="danger-btn">REMOVE</button></td>-->
<!--                </tr>-->
<!--                <tr class="cart-row">-->
<!--                    <td><img src="images/Kill_this_love.jpg" width="50" height="50" alt="Kill this love album"><span class="cart-item-name">Kill This Love</span></td>-->
<!--                    <td class="cart-item-price">$999</td>-->
<!--                    <td><input class="cart-quantity-input" type="number" value="1"><button class="danger-btn">REMOVE</button></td>-->
<!--                </tr>-->
            </table>

            <div class="total-container">
                <!-- Use &nbsp (non-breaking space) to force an extra space -->
                <p> Total: &nbsp;&nbsp;&nbsp; <span class="total-price"> $0 </span> </p>
                <button class="purchase-btn"> PURCHASE </button>
            </div>
        </section>


        <footer class="grid-item footer">
            <hr class="footer-hr">
            <!-- Icons -->
            <div class="icons">
                <!-- target="_blank" will open make the link open in a new tab -->
                <a href="https://www.linkedin.com/feed/" target="_blank"> <i class="fab fa-linkedin" style="font-size: 50px; color: #00bfff"></i> </a>
                <a href="https://github.com/akoo1" target="_blank"> <i class="fab fa-github" style="font-size: 50px; color: gray"></i> </a>
                <a href="https://www.facebook.com/profile.php?id=100002474671692" target="_blank"> <i class="fab fa-facebook-square" style="font-size: 50px; color: blue"></i> </a>
                <a href="https://www.instagram.com/kiki40509/?hl=en" target="_blank"> <i class="fab fa-instagram" style="font-size: 50px; color: purple"></i> </a>
            </div>
            <small style="padding-bottom: 50px"> Copyright &copy; 2020 Alfred </small>
        </footer>

    </div>
</body>