<!DOCTYPE html>
<html lang="en">


<head>
    <title> BlackPink | Concert </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/concert.css" rel="stylesheet">

    <!-- Linking some icons from the internet -->
    <script src="https://kit.fontawesome.com/c5edb75a02.js" crossorigin="anonymous"></script>

</head>






<body>

    <div class="grid-container">
        <nav class="grid-item nav-bar">
            <ul>
                <li> <a href="home.html"> Home </a> </li>
                <li> <a href="about.html"> About </a> </li>
                <li> <a href="concert.html"> Concert </a> </li>
                <li> <a href="album.html"> Album </a> </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"> Members &#9662; </a>
                    <div class="dropdown-content">
                        <a href="https://www.instagram.com/jennierubyjane/" target="_blank"> Jennie </a>
                        <a href="#"> Lisa </a>
                        <a href="#"> Jisoo </a>
                        <a href="#"> Rose </a>
                    </div>
                </li>
            </ul>
        </nav>


        <figure class="grid-item fig-1">
            <img src="../static/images/Blackpink_tour_postor.jpg" alt="tour-postor" width="500" height="250">
        </figure>

        <main class="grid-item main">
            <h1 class="heading"> Schedule </h1>
            <table class="schedule">
                <tr>
                    <td> Nov 11 </td>
                    <td> Seoul, South Korea </td>
                    <td> Olympic Gymnastic Arena </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
                <tr>
                    <td> Jan 11 </td>
                    <td> Bangkok, Thailand </td>
                    <td> IMPACT Arena </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
                <tr>
                    <td> Jan 19 </td>
                    <td> Jakarta, Indonesia </td>
                    <td> Indonesia Convention Exhibition </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
                <tr>
                    <td> Jan 26 </td>
                    <td> Hong Kong </td>
                    <td> AsiaWorld Arena </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
                <tr>
                    <td> Feb 2 </td>
                    <td> Pasay, Philippines </td>
                    <td> Mall of Asia Arena </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
                <tr>
                    <td> Feb 15 </td>
                    <td> Singapore </td>
                    <td> Singapore Indoor Stadium </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
                <tr>
                    <td> Mar 3 </td>
                    <td> Taipei, Taiwan </td>
                    <td> Linkou Arena </td>
                    <td><button> BUY TICKETS </button></td>
                </tr>
            </table>
        </main>

        <figure class="gird-item fig-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rgCUS72baqY"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>



        <footer class="grid-item footer">
            <!--            <h2 class="heading" style="text-align: left; margin-bottom: 0; margin-top: 400px"> Reference </h2>-->
            <!--            <hr style="margin-top: 0; border-color: #504e4e;">-->
<!--                        <p style="text-align: left"><a href="https://en.wikipedia.org/wiki/Blackpink" style="text-align: left; text-decoration: none"> https://en.wikipedia.org/wiki/Blackpink </a></p>-->
            <hr class="footer-hr">
            <!-- Icons -->
            <div class="icons">
                <!-- target="_blank" will open make the link open in a new tab -->
                <a href="https://www.linkedin.com/feed/" target="_blank"> <i class="fab fa-linkedin" style="font-size: 50px; color: #00bfff"></i> </a>
                <a href="https://github.com/akoo1" target="_blank"> <i class="fab fa-github" style="font-size: 50px; color: gray"></i> </a>
                <a href="https://www.facebook.com/profile.php?id=100002474671692" target="_blank"> <i class="fab fa-facebook-square" style="font-size: 50px; color: blue"></i> </a>
                <a href="https://www.instagram.com/kiki40509/?hl=en" target="_blank"> <i class="fab fa-instagram" style="font-size: 50px; color: purple"></i> </a>
            </div>
            <small style="padding-bottom: 50px"> Copyright &copy; 2020 Alfred </small>
        </footer>
    </div>

</body>

</html>